* {
    margin: 0px;
    padding: 0px;
}

.main_content{
    z-index: 1;
}

#modal-1, #modal-2{
    position: absolute;
    z-index: 2;
}

.edit_info{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info_name{
    text-align: right;
    width:30%;
}

.edit{
    margin-left: 10px;
}

.mordal_submit_btn{
    text-align: center;
}

#logout_btn{
    color: #212121;
}

#edit_payer{
    width: 70px;
}

.total_amount_area{
    width: 100%;
    display:flex;
}

#amount_area{
    display:flex;
    flex-flow: column;
}

#amount_details_area{
    text-align: center;
}
