* {
    margin: 0px;
    padding: 0px;
}

.header_area{
    display:flex;
    width:100%;
    height:80px;
    background-color:#6ec25e;
    align-items: center;
}

.title{
    color:white;
    margin-right: auto;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.main_content{
    z-index: 1;
}

#modal-1{
    position: absolute;
    z-index: 2;
}

.edit_info{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info_name{
    text-align: right;
    width:30%;
}

.edit{
    margin-left: 10px;
}

.mordal_submit_btn{
    text-align: center;
}
