<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header th:fragment="main-header" class="header_area">
  <h1 class="title">Seppan</h1>
  <div id="username_display"></div>
  <ul class="menu-group">
    <li class="menu-item"><a href="#">カレンダー</a></li>
    <li class="menu-item"><a href="#">統計</a></li>
    <li class="menu-item"><a href="#">一覧</a></li>
  </ul>
  <form method="post" th:action="@{/logout}">
    <button id="logout-btn">ログアウト</button>
  </form>
</header>
</body>
</html>
