<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/sharing.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Sharing</title>
</head>
<body>
    <div th:replace="header :: main-header"></div>
    <div>
        <form id="form-area">
            <h1>共有したい相手の情報を入力してください</h1>
            <div class="edit_info">
                <p class = "info_name">相手の名前</p>
                <input type="text" class="edit" id="edit_name" name="money">
            </div>
            <div class="edit_info">
                <p class = "info_mailaddress">相手のメールアドレス</p>
                <input type="text" class="edit" id="edit_mailaddress" name="mailaddress">
            </div>
            <div class="submit_btn">
                <button id = submit_btn type="submit">決定</button>
            </div>
        </form>
    </div>
</body>
</html>
